* {
    box-sizing: border-box;
}

body {
	position: relative;
	width: 100vw;
	height: 100vh;
	margin: 0;
}


#ok-hand {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(90deg);
	font-size: 128px;
	z-index: 1;
}
